.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Nunca versionar segredos
environment/**/secrets.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json


terraform/platform/environment/dev/secrets.tfvars